md-empty-state.empty-block(md-rounded,
    md-size="320",
    md-icon='access_time',
    md-label='Nothing here',
    md-description="There are no hot-dogs here yet, but you can change it.",
    v-if='isEmpty')
